<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="CERTNAME_QA" value="DHCI-MURUGAVELL.DHCA.local" />
    <add key="CERTNAME_PROD" value="DHCRINT.DHCA.AE" />
    <add key="EmailQueue" value="C:\tmp\Dhcc\" />
    <add key="StrFrom" value ="27-01-2018"/>
    <add key="StrTo" value ="28-01-2018"/>
    <add key="enviorment" value ="production"/>
    <add key="basedir" value="C:\tmp\DHA\DHCC\"/>
    <add key="method" value="manual"/>
    
    <add key="info" value="dhcc_info"/>
    <add key="error" value="dhcc_info"/>
    <add key="dump" value="dhcc_info"/>
    
    
    <!--manual/daily-->
    
    
    <add key="FTPUsername" value="ftplmu"/>
    <add key="FTPPassword" value="ftplmu"/>
    <add key="FTPLocalPath" value="/Clinicians/Published"/>
    <add key="FTPHost" value="10.162.176.121"/>

    <add key="LMU_QA_Username" value="faisal"/>
    <add key="LMU_QA_Token" value="Z1aGN9r9-4jb1dGCR-b71qJYKg"/>

    <add key="LMU_Prod_Username" value="fansari"/>
    <add key="LMU_Prod_Token" value="UbPkuwPQdOuqQo9wKkh8nLtYwTqSiGsP"/>


    <!--https://uat.lmuregistry.com-->
    <!--http://lmu.dimensions-healthcare.com-->

    <add key="LMU_URL" value="http://lmu.dimensions-healthcare.com"/>
    <add key="LMU_Clinician_Latest" value="/LMUCore/api/data-registry/Clinicians/lastVersion"/>
    <add key="LMU_Specialities_Latest" value="/LMUCore/api/data-registry/SpecialtiesList/lastVersion"/>

    <!--<add key="LMU_Clinician" value="/LMUCore/api/data-registry/Clinicians/updated"/>-->
    <add key="LMU_Clinician" value="/LMUCore/api/data-registry/Clinicians/repositories"/>
    <add key="LMU_Specialities" value="/LMUCore/api/data-registry/SpecialtiesList/updated"/>
    
  
  

  </appSettings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HCPServiceSoap" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="HCPServiceSoap1" />
                <binding name="HCPServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="HCPServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://epay.dhcr.gov.ae/dha/HCPService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HCPServiceSoap"
                contract="DHCCHCPService.HCPServiceSoap" name="HCPServiceSoap" />
            <endpoint address="https://epayqa.dhcr.gov.ae/dha/HCPService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HCPServiceSoap2"
                contract="DHCCHCPService_QA.HCPServiceSoap" name="HCPServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>